body{
    background-color: #F9F9F9;
}

.List{
    width: 500px;
    min-height: 500px;
    height: auto;
    margin: auto;
}
.List-h1{
    text-align: center;
    color: #EBD8D9;
    font-size: 4rem;
}
.List-list{
    background-color: white;
    width: 100%;
    /* min-height: 22rem; */
    height: auto;
    border: 1px solid gray;  
    border-bottom: none;
    box-shadow: .2rem 0 .5rem gray;  
}

.List-input{
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
    border: none;
    padding: 1rem 2rem;
    border-bottom: 1px solid gray;
}

.List-input:focus{
    outline: none;
}

.List-border{
    border: 1px solid gray;
    display: block;
    width: 100%;
}

.List-ul{
    width: 100%;
    padding: 0;
    margin: 0;
}
.List-li{
    list-style: none;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.List-svg{
    cursor: pointer;

}

.List-num{
    background-color: white;
    color: gray;
    border: 1px solid gray;
    border-top: none;
    padding: .6rem;
    box-shadow: .2rem 0 .5rem gray;  

}
.List-footer--up{
    width: 99%;
    height: .4rem;
    margin: auto;
    border: 1px solid gray;
    border-top: none;
    background-color: white;
    box-shadow: .2rem 0 .5rem gray;  
}
.List-footer--down{
    width: 98%;
    height: .4rem;
    margin: auto;
    border: 1px solid gray;
    border-top: none;
    background-color: white;
    box-shadow: 0 .2rem .5rem  gray;
}

